h6
{
	height : 2px;
	text-align: center;
	cursor: pointer;

}

img
{
	height : 100%;
	padding: 10px;
}

h5
{
	height : 500px;
	text-align: center;
}

span
{
	font-family: century gothic;
	font-style: italic;
	font-size: 25pt;
}
